@import "./variable";
.cart-section {
  width: 100vw;
  background-color: rgb(247, 247, 247);
  position: relative;
  padding: 10%;
  padding-top: 90px;
}
.bought-items {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  background-color: green;
}

.product {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 50px;

  .cart-discount {
    font-weight: bold;
    color: hsl(133, 63%, 40%);
  }

  .cart-product-img {
    width: 200px;
    height: 300px;
    background-size: cover;
  }
  .product-info {
    padding: 20px;
  }
}
