@import "./variable";

.product-details {
  width: 100vw;
  min-height: 120vh;
  height: fit-content;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: large;
  padding-top: 70px;
  .details {
    width: 100%;
    height: 100%;
    margin: 2%;
    display: flex;
    position: sticky;
    flex-direction: row;  
  }
}


.preview {
  height: 100%;
  width: 33%;
  position: relative;
  z-index: 3;
  .demo{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .detailed-img {
    position: absolute;
    width: 100%;
    height: 85vh;
    background-size: cover;
  }
}
.accordion-item{
  font-size: 0.8vw;
}
.detail-title {
  text-align: center;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  padding: 1rem;
}

.buy-btn {
  width: 100%;
  background-color: hsl(24, 83%, 53%);
  border: 0;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 0.4rem;
  margin: 0.8rem;
  margin-left: 0;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  &:hover {
    background-color: hsl(96, 91%, 41%);
  }
}

.info {
  width: 58%;
  margin-left: 2%;
  .info-body {
    width: 100%;
    padding: 0;
    margin-top: 0px;
    .brand-name {
      font-size: 1rem;
      color: grey;
      text-align: left;
    }
    .detail-product-title {
      font-size: 1.125rem;
    }
    .detail-price {
      line-height: 1.4;
      display: flex;
      justify-content: space-between;
      font-size: 1.75rem;
      font-weight: 500;
      .detail-offer {
        font-weight: bold;
        color: hsl(0, 100%, 50%);
      }

      .detail-stroke-text {
        text-decoration: line-through;
        color: hsl(0, 0%, 53%);
        margin-left: 8px;
        font-size: 1rem;
        text-align: center;
        vertical-align: middle;
        letter-spacing: 1px;
        display: flex;
        flex-direction: row;
      }
    }
  }
}


.product-description{
  font-family: 'lora';
  font-size: 1vw;
  padding-bottom: 2%;
}

@media (max-width:800px) {
  .product-details {
    width: 100vw;
    height: fit-content;
    padding: 0;
    margin: 0;
    position: relative;
    font-size: large;
    padding-bottom: 10%;
    .contain {
      width: 100%;
      height: 100%;
    }
  }

  .details {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column !important;  
    margin: 0 !important;
    padding: 0;
  }
  .preview {
    width: 100% !important; 
    height: 100%;
    margin: 0;padding:0;
    
  }
  .detailed-img {
    position: absolute;
    width: 100%;
    height: 50vh !important;
    background-size: cover !important;
  }

  .info {
    width: 100% !important;

    position: absolute;
    top: 50vh;
    margin: 0;padding: 0;
    padding-left: 4%;
    padding-right: 4%;
  }        
  .info-body {
    width: 100%;
    padding: 0;
    margin-top: 0px;
  }
  .product-description{
    font-family: 'lora';
    font-size: 4vw;
    text-align: justify;
    padding-bottom: 2%;
  }

  .accordion-item{
    font-size: 3vw;

  }
  
}