@import "./variable";

.products-section {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 0;
  padding-top: 70px;
}

.filter-product-parent {
  width: 100%;
  height: 100%;
}

.filter-wrapper {
  width: 18%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgb(243, 243, 243);
}



.product-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;

}



@media (max-width:800px) {
  
.filter-wrapper {
  width: 30%;
  height: 100%;}
  .product-list-wrapper{
    margin-left: 0 !important;
    padding: 0 !important;
    justify-content: center;
  }
}